<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subtitle Search</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

{% if time_stamps %}
<ul>
    {% for time_stamp in time_stamps %}
    <li>Start time = {{ time_stamp.start }} | End time = {{ time_stamp.end }}</li>
    {% endfor %}
</ul>

{% else %}
<h1>Please provide the search keywords below.</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ sub_form }}
    <input type="submit" value="Search">
    {% endif %}
</body>
</html>